<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
<ng-container *ngIf="products">
  <h1 class="mt-2">Catalog</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Products catalog</li>
    </ol>
  </nav>
  <div class="ap-container" id="parent-product">
    <ng-container *ngFor="let product of products">
      <div class="product-block" (click)="navToProduct(product.id)">
        <img class="product-image" src="assets/images/{{product.img}}" alt="Loading...">

        <div class="p-2">
          <ngb-rating [rate]="product.averageRate"></ngb-rating>
          <span class="ml-2">{{product.totalComments}} Comments</span>
          <h3>{{product.title}}</h3>
          {{product.text}}
        </div>
        <div class="custom-view-button pt-2">Instant View</div>
      </div>
    </ng-container>
  </div>
</ng-container>



