.jumbotron {
    height: 1500px;
}

.container {
    max-width:1380px;
}

.navbar-nav {
    justify-content: flex-end;
}

.ap-container {
    width: 1380px;
    margin: 0 auto;
}

.navbar {
    background: #21252F;
}
