
<!-- nav -->
<nav class="navbar navbar-expand" *ngIf="currentUser; else unregisteredBlock">
  <div class="navbar-nav ap-container">
      <a class="nav-item nav-link" routerLink="/products">Products</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<ng-template #unregisteredBlock>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav ap-container">
        <a class="nav-item nav-link" routerLink="/products">Products</a>
        <a class="nav-item nav-link" routerLink="/login">Sign In</a>
        <a class="nav-item nav-link" routerLink="/register">Sign Up</a>
    </div>
  </nav>
</ng-template>


<!-- <div class="jumbotron"> -->
  <div class="ap-container">
      <div class="row">
          <div class="col-sm-12">
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
<!-- </div> -->